[submodule "Dog-SecurityImplementation"]
	path = Dog-SecurityImplementation
	url = https://github.com/manyasi06/Dog-SecurityImplementation.git
[submodule "DogAppFrontEnd"]
	path = DogAppFrontEnd
	url = https://github.com/manyasi06/DogAppFrontEnd.git
[submodule "DogApp"]
	path = DogApp
	url = https://github.com/manyasi06/DogApp.git
